APP_NAME=SentinelFlow API
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=sentinel_core
POSTGRES_USER=sentinel_admin
POSTGRES_PASSWORD=supersecretpassword

# SQLAlchemy async URL (PostgreSQL + asyncpg)
DATABASE_URL=postgresql+asyncpg://sentinel_admin:supersecretpassword@localhost:5433/sentinel_core

FRONTEND_URL=http://localhost:3000
CORS_ALLOW_ORIGINS=["http://localhost:3000"]

GITHUB_CLIENT_ID=Ov23li2jxAtFjB4Cxdph
GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
GITHUB_REDIRECT_URI=http://localhost:8000/api/auth/github/callback

JWT_SECRET_KEY=awdghags3fg1bdgahsgdawdahsgdkagw
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
