APP_NAME=SentinelFlow API
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=sentinel_core
POSTGRES_USER=sentinel_admin
POSTGRES_PASSWORD=supersecretpassword

# SQLAlchemy async URL (PostgreSQL + asyncpg)
DATABASE_URL=postgresql+asyncpg://sentinel_admin:supersecretpassword@localhost:5433/sentinel_core

FRONTEND_URL=http://localhost:3000
CORS_ALLOW_ORIGINS=["http://localhost:3000"]

GITHUB_APP_ID=3136484
GITHUB_CLIENT_ID=Iv23likJ9j1wvI9cJCpe
GITHUB_CLIENT_SECRET=9ac01fe7a15f2b336d29279834516c7a5b3835cc
GITHUB_REDIRECT_URI=http://localhost:8000/api/auth/github/callback

GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAs92UZdP8J3Oemqv06aKLH/9t8DKm54lNxILwZ7t1DUqQWOo6
KF3Vjw7Esr/+jOs4X0d7gn2mhAGi9cvuXmmAOYmMYU2lfMUTgk0Jg+1t1RV/ic7K
QMqy8ysBgIlp9VYi+mhhqhCcwjmaXUZQulq99lXskX1hbW1WGvAepwS+CZZwbNz0
xK+bz0VtvzGUORJdIBEf2iPQF4sOOqW/HQeaxI66SQSyK4KymIBWRUdr4GnkjXrB
yAipbC43+hr0VYJBhBMzX+2xi9eXwYsD3Q/K/qh5l3vsC+4AdqzVi8m8LCFv5wRb
6q8+b9etRAGNScLT+cR2G9Q69A/9illQo7ncWwIDAQABAoIBACizZVc9hvuucB9z
9fHAdFcDR+9optgR++UR9DCk/LHLQ6q7JfnoceDzaJNCWumseI8m783xfPK2JBgW
05PNr9RVSczi8yWuuuFraVHPMmFbgga/IolS1PetraNWdQGtQjED2cXQCIjy2/lr
Ze0lh4LsoqGxi5Blg2yJFYaZzh8A6EU4C8DzKm3qt/IFyoAcsOsWln9vWg+Rh+99
rayjeXTXJKwmggEWubeSzs67dNAv4dZoaK/7/OHni1NpX1GwQjzmB3jQgxMgSip7
9smQJKqk7FHnXm1ei4uQeQ77bWfY7CRuLBJTuRsrpP/jVG2FBRQmVEB9tF4+VHUS
jFUzAhECgYEA7ZuW4cHZKX9P5MxBedt/RsMpugPmXdrSJF2wLXQ40/O3inbTEVvj
8Q1fNsf0iVV/JjKg+2xYteSZGjZdrRq9wBSfHmzi8TmZ0dbaDaOYWmGGYrKrNia1
LMR4ikXmZ+Hp+8a5iWufRzpizCyhyftZqFri6JBcTbI8CPrVm4Ufu+UCgYEAwcnG
w+Xj4yeUfRggHiFgqePwLJg8hdTPbqCMP7FH6/5MlDJBZzsd//V0xQIrgAzSMjbo
A7xyuWRcKfhGFi+xRtO+Kk44xkQHM7ERQ3bV04Nih72Q8BdVviae9t6mqa6KGxBW
Iz2kSw29hB/lXiJvnb0ihXOuh6bwQN7M10TMMz8CgYEAjF7Xs0VvAsn4rAVTRSc8
ONTBSOhW5umILf2/QAsiK20W6FEsflvX/KdWsalNOPjuZeWRHxeyDLshC9BEZSig
IuLL4hCXvcS2r7YLGfWk4vgsiRBef148uFbVk3KaHJLlRV3wbFPNRColBdP0PLwm
CoSu+o+WSDxcpT1yhi8OQVUCgYEApa6+If8LN8s/STS3QQuIebhIP9ho5oNsVkkt
n8cSltJ05r+Q65G/tHdHvqh8SJ6tmAEZnRghfiAwLDH4uj9MciHXFJSMNfczsR5S
hDu11YEfXK7WnG9W/5xFjQwPskNoEHuHKdop/YFh5vTeRf1rMJHkUfT140T3ZH8Y
43QOokECgYAdcStZtAeZULuD2qd5IsNFNIc69sSZwai1XG7ne8wn5h3q/AxblHrN
YFoUmHZcPz6Sw2O0d5+h498aCYCfLDr7zKnFOVvveLel1I6Swy7pErOy1gEVIsz9
t+rgbKBiVHhw5HK2AJvRW2jOp8ewFBw7B0l32BMIugCzJul4xh42MQ==
-----END RSA PRIVATE KEY-----"


JWT_SECRET_KEY=awdghags3fg1bdgahsgdawdahsgdkagw
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
